html {
    height: 100%;
    width: 100%;
    background-image: url('../images/about-background.png');
    /* min-height: 800px; */
    background-position:center;
	background-repeat:no-repeat;
    background-size:cover;
    overflow: hidden;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
}

#menu-item {
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    font-size: 25px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
}

#menu-item a {
    text-decoration: none;
    color: white;
}

.selected {
    text-decoration: underline !important;
}

.main {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.creators {
    height: 75%;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#cL {
    display: none;
    background-color: rgba(9, 61, 64, 0.77);
    float: left;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    flex-direction: column;
}

#cR {
    display: none;
    background-color: rgba(9, 61, 64, 0.77);
    float: right;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    flex-direction: column;
}

.circle-cropper {
    width: 350px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

#profile-pic {
    width: inherit;
}

#text {
    color: white;
}

.format-header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin: 4%;
}

.format {
    text-align: justify;
    margin: 4% 20%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    text-decoration: underline;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .creators {
        flex-direction: column;
        align-items: center;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 850px) {
    .creators {
        flex-direction: column;
        align-items: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 851px) and (max-width: 991px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}