html {
    height: 100%;
    width: 100%;
    background-image: url('../images/creators-background.png');
    min-height: 800px;
    background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.menu {
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
}

#menu-item {
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 47px;
    display: flex;
    align-items: center;
    text-align: center;
}

#menu-item a {
    text-decoration: none;
    color: white;
}

.selected {
    text-decoration: underline !important;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
}

.creators {
    height: 75%;
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

#cL {
    display: none;
    background-color: rgba(9, 61, 64, 0.77);
    float: left;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    flex-direction: column;
}

#cR {
    display: none;
    background-color: rgba(9, 61, 64, 0.77);
    float: right;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    flex-direction: column;
}

.circle-cropper {
    width: 350px;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

#profile-pic {
    width: inherit;
}

#text {
    color: white;
}

.format {
    text-align: justify;
    margin: 4% 20%;
}